.stack {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-spacing: 20;
    -fx-alignment: center;
}

.subtitle {
    -fx-text-fill: white; 
    -fx-font-size: 20px; 
    -fx-underline: true;
}

.statsbox {
    -fx-text-fill: lightgray; 
    -fx-font-size: 16px;
    -fx-spacing: 5;
    -fx-alignment: center;
}

.label {
    -fx-text-fill: gray;
}

.button {
    -fx-font-size: 18px; 
    -fx-padding: 10 20 10 20;
}


.title {
    -fx-text-fill: red; 
    -fx-font-size: 60px; 
    -fx-font-weight: bold; 
    -fx-font-family: 'Arial';
}
