name: Build Report + Project ShadowJar and deploy to GitHub Releases
on:
  push:
    paths:
      - 'report/**'
    branches:
      - master

jobs:
  Setup-Compile-Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Fetch tags
        shell: bash
        run: git fetch --tags -f
      - name: Compile LaTeX
        uses: DanySK/compile-latex-action@2.2.7
